<div class="container-fluid footer">
	<div class="row">
  	<div class="col-md-1"></div>
    <div class="col-md-10">
    	<div class="row">
    		<p class="col-md-12 text-center center-black">Индустриални и декоративни подове</p>
      	<p class="col-md-12 text-center center-white">Циментови, епоксидни и полиуретанови</p>
      	<p class="col-md-12 text-center small-center-white">Доставка и полагане</p>
      </div>
      <div class="row">
      	<p class="col-sm-6 col-md-6 text-right gray-title">Индустриални подове</p>
        <p class="col-sm-6 col-md-6 text-left gray-title">Декоративни подове</p>
      </div>
      <div class="row">
        <p class="col-sm-6 col-md-6 text-right footer-text">Aнти-прахови защитни покрития и запечатки</p>
        <p class="col-sm-6 col-md-6 text-left footer-text">Настилки с визия на шлайфан бетон</p>
      </div>
      <div class="row">
        <p class="col-sm-6 col-md-6 text-right footer-text">Системи за закрити паркинги и гаражи</p>
        <p class="col-sm-6 col-md-6 text-left footer-text">Едноцветни хомогенни покрития</p>
      </div>
      <div class="row">
        <p class="col-sm-6 col-md-6 text-right footer-text">Специализирани подови покрития за производства и складове</p>
        <p class="col-sm-6 col-md-6 text-left footer-text">Цветни кварцови настилки</p>
      </div>
      <div class="row">
        <p class="col-sm-6 col-md-6 text-right footer-text">Сертифицирани настилки за хранително-вкусовата промишленост</p>
        <p class="col-sm-6 col-md-6 text-left footer-text">Мозаечни подове</p>
      </div>
      <div class="row">
        <p class="col-sm-6 col-md-6 text-right footer-text">Сертифицирани настилки за болници, лаборатории и фармация</p>
        <p class="col-sm-6 col-md-6 text-left footer-text">Мозаечни подове</p>
      </div>
      <div class="row">
        <p class="col-sm-6 col-md-6 text-right footer-text">Антистатични подови системи</p>
        <p class="col-sm-6 col-md-6 text-left footer-text">Индивидуални бутикови и дизайнерски решения</p>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="container-fluid bottom-footer">
	<div class="row">
  	<p class="col-md-12 text-center">{{'' | currentDate}} Тералайн ООД - Всички права запазени</p>
  </div>
</div>
