<div class="row">
	<div class="col-sm-12 col-md-3">
  	<div class="logo-container text-right">
      <a class="logo" href="#">
        <img src="images/terraline-logo.png"/>
          <div class="slogan">Вещи в занаята</div>
      </a>
    </div>
  </div>
  <div class="col-sm-12 col-md-7 padding-0">
  	<div class="navigation-container">
      <ul class="nav nav-pills">
        <li><a href="#">Начало</a></li>
        <li><a href="#/industrialni_podove">Индустриални подове</a></li>
        <li><a href="#/dekorativni_podove">Декоративни подове</a></li>
        <li><a href="#/mramor_i_mozaika">Мрамор и мозайка</a></li>
        <li><a href="http://terraline-bg.com/gallery/index.php">Галерия</a></li>
        <li><a href="#/contacts">Контакти</a></li>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-2">
  	<div class="col-sm-12 col-md-6">
    	<a href="#/offer" class="promo_link">Промо</a>
    </div>
  </div>
</div>
