<div class="container">
    <div class="media">
        <div class="media-body  margin-20">
            <h1 class="media-heading">Специално предложение</h1>

            <p>
                Предложението на фирмата е част от рекламен проект, който има за цел да представи собствено разработена
                и уникална в своите вариации декоративна настилка. Дадохме й името венецианска, тъй като със своето
                специфично преплитане на нюанси и естествена шарка препраща към венецианските мозайки и мрамори.
                Големите възможности за цветове и рисунък могат да превърнат настилката в незаменима част от Вашия
                интериор. Покритието е на основата на епоксидна смола, без фуги и е изключително съчетание на естетика и
                здравина.
            </p>

            <p>
                Предвид целите на начинанието, като терен могат да послужат: заведение – кафене, бар или ресторант;
                магазин; хотелско фоайе; офис; частен дом и други.
            </p>

            <p>
                В рамките на рекламния проект цената е 25 лв/м2 без ДДС и включва: оглед, изработка на работни мостри,
                подготовка на основата и полагане на декоративната настилка.
            </p>

            <p>
                За основа на настилката биха могли да послужат: мозайка, плочки, както и равни и добре загладени, здрави
                и сухи бетон или замазка. Дебелината на настилката е около 2 мм, а изпълнението изисква средно 3-4 дни.
            </p>

            <p>
                Разбира се, предварително ще Ви покажем мостри и ще отговорим на всеки Ваш въпрос.
            </p>
        </div>
        <div class="media-right"><img src="images/bedroom.JPG" class=" margin-20"/></div>
    </div>
</div>