<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center">Телефони</h1>

            <p class="text-center">0882 52 89 45</p>

            <p class="text-center">0897 80 57 23</p>

            <h1 class="text-center">Email</h1>

            <div class="text-center">
                <a href="mailto:info@terraline-bg.com" target="_top">info@terraline-bg.com</a>
            </div>
        </div>
        <div ng-controller="ctController" class="col-md-9">

            <p ng-class="result" style="padding: 15px; margin: 0; font-weight: bold; font-size: medium; border: 1px solid grey">{{ resultMessage }}</p>

            <form ng-submit="submit(contactForm)" role="form" class="margin-20" action="" method="post" name="contactForm">
                <div class="form-group">
                    <label for="name">Име</label>
                    <input type="text" ng-model="formData.inputName" class="form-control" id="name" placeholder="Вашето име" required>
                </div>
                <div class="form-group">
                    <label for="email1">Email</label>
                    <input type="email" ng-model="formData.inputEmail" class="form-control" id="email1" placeholder="Вашият email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Относно</label>
                    <input type="text" ng-model="formData.inputSubject" class="form-control" id="subject" placeholder="Запитване за оферта, въпрос и др." required>
                </div>
                <div class="form-group">
                    <label for="message">Съобщение</label>
                    <textarea ng-model="formData.inputMessage" class="form-control" id="message" rows="3" required></textarea>
                </div>

                <button type="submit" class="btn btn-default" ng-disabled="submitButtonDisabled">Изпрати</button>
            </form>
        </div>
    </div>
</div>